doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(http-equiv="refresh", content="900")
    script(type="text/javascript", src="//use.typekit.net/ukn3elo.js")
    script(type="text/javascript")
        try{Typekit.load();}catch(e){}
  body
    block content
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.11.1.min.js')
    script(type='text/javascript' src='/javascripts/fittext.js')
    script(type='text/javascript' src='/javascripts/main.js')