@font-face {
  font-family: myriad;
  src: url("../fonts/myriad-web-pro.ttf");
}
body {
  padding: 0px;
  margin: 0px;
}
a {
  color: #00b7ff;
}
#main {
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% 100%;
}
#main .item {
  color: #fff;
  font-family: myriad;
}
